<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Contact Us</h2>
            <hr class="star-primary">
        </div>
    </div>
  <div class="col-md-9">
  
    <p>In case you have any questions, suggestions or if you just want to have a general talk with us. You can reach out to us by any of the below means:</p>
   
  <div class="col-sm-6 left">
    <table>
      <tr>
         <td>Write to us</td>
         <td><a href="">hello@example.com</a></td>
      </tr>
      <tr>
         <td>Call us</td>
         <td>0-9999-11-99XX</td>
      </tr>
      <tr>
         <td>Whatsapp us</td>
         <td>0-9988-11-99XX</td>
      </tr>
    </table>
  </div>
</div>
</div>