<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-md bg-dark navbar-dark" style="
padding-bottom: 0px;
padding-top: 0px;
">
  <img class="logoimg" src="./../favicon.ico" alt="Logo Error">
  <a class="navbar-brand" href="#" style="margin:0px 50px;">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/signup">Sign up</a>
      </li>   
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"><span class="glyphicon glyphicon-log-in"></span>
            <a class="nav-link" href="/about">Logout</a>
        </li>
      </ul>
  </div>  
</nav>
<br>

<router-outlet></router-outlet>
